<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.2" targetFramework="net461" />
  <package id="GlmSharp" version="0.9.8" targetFramework="net461" />
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.0-pre" targetFramework="net461" />
</packages>